<template>
  <div class="cv">
    <XiVi msg="Welcome to Your Vue.js + TypeScript App" />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import XiVi from "@/components/HelloWorld.vue"; // @ is an alias to /src

@Options({
  components: {
    XiVi
  }
})
export default class Home extends Vue {}
</script>
