<template>
<body>
  <div class="wrapper">
    <div class="xivi">
      <div class="profile">
        <div class="avt-wrapper index">
          <img src="@/assets/avt.png" class="avt" />
          <div class="name">
            <h1>
              Cong
              <br />Nguyen Thanh
            </h1>
            <h3>Frontend Developer</h3>
          </div>
        </div>
        <div class="contact index container">
          <ul class="contact_titles">
            <li>
              <h3>Call</h3>
            </li>
            <li>
              <h3>Mail</h3>
            </li>
            <li>
              <h3>Web</h3>
            </li>
            <li>
              <h3>Home</h3>
            </li>
          </ul>
          <ul class="contact_content">
            <address>
              <li>
                <a href="tel:+0917292484">0917292484</a>
              </li>
              <li>
                <a href="mailto:congnguyen6941@gmail.com">congnguyen6941@gmail.com</a>
              </li>
              <li>
                <a
                  href="https://xivi-fresher-frontend.web.app/"
                >https://xivi-fresher-frontend.web.app/</a>
              </li>
              <li>
                11 Tan Tru Street, Ward 15, Tan Binh
                District, Ho Chi Minh City
              </li>
            </address>
          </ul>
        </div>
        <div class="objective-wrapper index">
          <h3 class="objective">Objective:</h3>From the knowledge that I had been learned about networks and technologies at university, I am
          looking forward to being a Frontend Developer Fresher because the position is suitable for my
          skills. I will try my ability to help the company develops
        </div>
      </div>
      <div class="detail">
        <div class="detail-section edu">
          <div class="detail-title">
            <div class="icon">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="user-graduate"
                class="svg-inline--fa fa-user-graduate fa-w-14"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  d="M319.4 320.6L224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"
                />
              </svg>
            </div>
            <span class="index">EDUCATION</span>
          </div>
          <div class="detail-content">
            <div class="timeline-block">
              <h2>Department of Information Security</h2>
              <p>THE ACADEMY OF CRYPTOGRAPHY TECHNIQUES</p>
              <time>2015 - 2020</time>
            </div>
          </div>
        </div>
        <div class="detail-section skills">
          <div class="detail-title">
            <div class="icon">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="laptop-code"
                class="svg-inline--fa fa-laptop-code fa-w-20"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512"
              >
                <path
                  d="M255.03 261.65c6.25 6.25 16.38 6.25 22.63 0l11.31-11.31c6.25-6.25 6.25-16.38 0-22.63L253.25 192l35.71-35.72c6.25-6.25 6.25-16.38 0-22.63l-11.31-11.31c-6.25-6.25-16.38-6.25-22.63 0l-58.34 58.34c-6.25 6.25-6.25 16.38 0 22.63l58.35 58.34zm96.01-11.3l11.31 11.31c6.25 6.25 16.38 6.25 22.63 0l58.34-58.34c6.25-6.25 6.25-16.38 0-22.63l-58.34-58.34c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63L386.75 192l-35.71 35.72c-6.25 6.25-6.25 16.38 0 22.63zM624 416H381.54c-.74 19.81-14.71 32-32.74 32H288c-18.69 0-33.02-17.47-32.77-32H16c-8.8 0-16 7.2-16 16v16c0 35.2 28.8 64 64 64h512c35.2 0 64-28.8 64-64v-16c0-8.8-7.2-16-16-16zM576 48c0-26.4-21.6-48-48-48H112C85.6 0 64 21.6 64 48v336h512V48zm-64 272H128V64h384v256z"
                />
              </svg>
            </div>
            <span class="index">SKILLS</span>
          </div>
          <div class="detail-content">
            <ul class="pg-list">
              <li>
                <span>HTML5</span>
                <div class="sb-skeleton">
                  <div class="skillbar" style="--pgbar-length: 90%"></div>
                </div>
              </li>
              <li>
                <span>CSS3</span>
                <div class="sb-skeleton">
                  <div class="skillbar" style="--pgbar-length: 75%"></div>
                </div>
              </li>
              <li>
                <span>Javascript</span>
                <div class="sb-skeleton">
                  <div class="skillbar" style="--pgbar-length: 70%"></div>
                </div>
              </li>
              <li>
                <span>JQuery</span>
                <div class="sb-skeleton">
                  <div class="skillbar" style="--pgbar-length: 50%"></div>
                </div>
              </li>
              <li>
                <span>NodeJS</span>
                <div class="sb-skeleton">
                  <div class="skillbar" style="--pgbar-length: 70%"></div>
                </div>
              </li>
              <li>
                <span>ReactJS</span>
                <div class="sb-skeleton">
                  <div class="skillbar" style="--pgbar-length: 75%"></div>
                </div>
              </li>
              <li>
                <span>VueJS</span>
                <div class="sb-skeleton">
                  <div class="skillbar" style="--pgbar-length: 40%"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="detail-section exp">
          <div class="detail-title">
            <div class="icon">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="book-reader"
                class="svg-inline--fa fa-book-reader fa-w-16"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  d="M352 96c0-53.02-42.98-96-96-96s-96 42.98-96 96 42.98 96 96 96 96-42.98 96-96zM233.59 241.1c-59.33-36.32-155.43-46.3-203.79-49.05C13.55 191.13 0 203.51 0 219.14v222.8c0 14.33 11.59 26.28 26.49 27.05 43.66 2.29 131.99 10.68 193.04 41.43 9.37 4.72 20.48-1.71 20.48-11.87V252.56c-.01-4.67-2.32-8.95-6.42-11.46zm248.61-49.05c-48.35 2.74-144.46 12.73-203.78 49.05-4.1 2.51-6.41 6.96-6.41 11.63v245.79c0 10.19 11.14 16.63 20.54 11.9 61.04-30.72 149.32-39.11 192.97-41.4 14.9-.78 26.49-12.73 26.49-27.06V219.14c-.01-15.63-13.56-28.01-29.81-27.09z"
                />
              </svg>
            </div>
            <span class="index">EXPERRIENCE</span>
          </div>
          <div class="detail-content">
            <div class="timeline-block">
              <h2>Internship at Korea IT School</h2>
              <p>Learn Java Web</p>
              <time>Jul 2020 – Dec 2020</time>
            </div>
          </div>
          <div class="detail-content">
            <div class="timeline-block">
              <h2>Fresher Frontend</h2>
              <p>The Player</p>
              <time>Jul 2020 – Dec 2020</time>
            </div>
          </div>
        </div>
        <div class="detail-section interest">
          <div class="detail-title">
            <div class="icon">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="heart"
                class="svg-inline--fa fa-heart fa-w-16"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"
                />
              </svg>
            </div>
            <span class="index">INTERESTS</span>
          </div>
          <div class="detail-content">
            <div class="outer-frame">
              <ul>
                <li class="icon">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="book-reader"
                    class="svg-inline--fa fa-book-reader fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      d="M352 96c0-53.02-42.98-96-96-96s-96 42.98-96 96 42.98 96 96 96 96-42.98 96-96zM233.59 241.1c-59.33-36.32-155.43-46.3-203.79-49.05C13.55 191.13 0 203.51 0 219.14v222.8c0 14.33 11.59 26.28 26.49 27.05 43.66 2.29 131.99 10.68 193.04 41.43 9.37 4.72 20.48-1.71 20.48-11.87V252.56c-.01-4.67-2.32-8.95-6.42-11.46zm248.61-49.05c-48.35 2.74-144.46 12.73-203.78 49.05-4.1 2.51-6.41 6.96-6.41 11.63v245.79c0 10.19 11.14 16.63 20.54 11.9 61.04-30.72 149.32-39.11 192.97-41.4 14.9-.78 26.49-12.73 26.49-27.06V219.14c-.01-15.63-13.56-28.01-29.81-27.09z"
                    />
                  </svg>
                  <span>Game</span>
                </li>
                <li>
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="book-reader"
                    class="svg-inline--fa fa-book-reader fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      d="M352 96c0-53.02-42.98-96-96-96s-96 42.98-96 96 42.98 96 96 96 96-42.98 96-96zM233.59 241.1c-59.33-36.32-155.43-46.3-203.79-49.05C13.55 191.13 0 203.51 0 219.14v222.8c0 14.33 11.59 26.28 26.49 27.05 43.66 2.29 131.99 10.68 193.04 41.43 9.37 4.72 20.48-1.71 20.48-11.87V252.56c-.01-4.67-2.32-8.95-6.42-11.46zm248.61-49.05c-48.35 2.74-144.46 12.73-203.78 49.05-4.1 2.51-6.41 6.96-6.41 11.63v245.79c0 10.19 11.14 16.63 20.54 11.9 61.04-30.72 149.32-39.11 192.97-41.4 14.9-.78 26.49-12.73 26.49-27.06V219.14c-.01-15.63-13.56-28.01-29.81-27.09z"
                    />
                  </svg>
                  <span>Game</span>
                </li>
                <li>
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="book-reader"
                    class="svg-inline--fa fa-book-reader fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      d="M352 96c0-53.02-42.98-96-96-96s-96 42.98-96 96 42.98 96 96 96 96-42.98 96-96zM233.59 241.1c-59.33-36.32-155.43-46.3-203.79-49.05C13.55 191.13 0 203.51 0 219.14v222.8c0 14.33 11.59 26.28 26.49 27.05 43.66 2.29 131.99 10.68 193.04 41.43 9.37 4.72 20.48-1.71 20.48-11.87V252.56c-.01-4.67-2.32-8.95-6.42-11.46zm248.61-49.05c-48.35 2.74-144.46 12.73-203.78 49.05-4.1 2.51-6.41 6.96-6.41 11.63v245.79c0 10.19 11.14 16.63 20.54 11.9 61.04-30.72 149.32-39.11 192.97-41.4 14.9-.78 26.49-12.73 26.49-27.06V219.14c-.01-15.63-13.56-28.01-29.81-27.09z"
                    />
                  </svg>
                  <span>Game</span>
                </li>
                <li>
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="book-reader"
                    class="svg-inline--fa fa-book-reader fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      d="M352 96c0-53.02-42.98-96-96-96s-96 42.98-96 96 42.98 96 96 96 96-42.98 96-96zM233.59 241.1c-59.33-36.32-155.43-46.3-203.79-49.05C13.55 191.13 0 203.51 0 219.14v222.8c0 14.33 11.59 26.28 26.49 27.05 43.66 2.29 131.99 10.68 193.04 41.43 9.37 4.72 20.48-1.71 20.48-11.87V252.56c-.01-4.67-2.32-8.95-6.42-11.46zm248.61-49.05c-48.35 2.74-144.46 12.73-203.78 49.05-4.1 2.51-6.41 6.96-6.41 11.63v245.79c0 10.19 11.14 16.63 20.54 11.9 61.04-30.72 149.32-39.11 192.97-41.4 14.9-.78 26.49-12.73 26.49-27.06V219.14c-.01-15.63-13.56-28.01-29.81-27.09z"
                    />
                  </svg>
                  <span>Game</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
:root {
  --pgbar-length: 100%;
}
.pg-list,
.tool-list,
.favor-list {
  padding: 0;
  list-style: none;
}
.pg-list > li {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.sb-skeleton {
  position: relative;
  flex: 1 0 auto;
  height: 2px;
  background-color: #9a9a9a;
}
.pg-list > li > span {
  flex: 0 0 100px;
}
.sb-skeleton > .skillbar {
  position: absolute;
  left: 0;
  top: -1px;
  width: var(--pgbar-length);
  height: 4px;
  background-color: #4682bf;
}
.container {
  margin: 50px auto;
  width: 90%;
}
img {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 70rem;
  // background-color: #737373;
  display: flex;
  box-shadow: 0px 0px 15px 4px #b3b3b3;
}
.xivi {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 30px;
  // height: 100vh;
  .profile {
    box-shadow: 5px 0px 15px 0px #b3b3b3;
    .index {
      margin: 50px auto;
      width: 90%;
    }

    .avt-wrapper {
      display: grid;
      grid-template-columns: 4fr 6fr;
      column-gap: 20px;
      background: #4682bf;
      padding: 20px;
      position: relative;

      &:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 100%;
        height: 48px;
        background-color: #4682bf;
        transform: skewY(-5deg);
      }

      .avt {
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }
      .name {
        font-family: "Varela Round", sans-serif;
        text-align: left;
        color: #f8f8f8;
      }
    }
    .contact {
      display: grid;
      grid-template-columns: 4fr 6fr;
      column-gap: 20px;
      text-align: left;
      color: #545454;

      li {
        margin: 10px 0;
        color: #545454;

        a {
          color: #545454;
        }
      }
    }
  }
  .detail {
    // background: #3d3e42;
    margin-top: 50px;
    .detail-section {
      margin-bottom: 30px;

      .detail-title {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
          background: #4682bf;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          display: grid;
          align-items: center;
          justify-items: center;

          svg {
            width: 50%;
            fill: white;
          }
        }
      }

      .detail-content {
        .outer-frame {
          margin-top: 10px;
          padding: 5px;
          border: 1px solid black;
          border-radius: 7px;

          ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            li {
              display: grid;
              align-items: center;
              justify-items: center;
              gap: 5px;
              svg {
                width: 40%;
                fill: #4682bf;
              }
            }
          }
        }
        .timeline-block {
          position: relative;
          padding-left: 55px;
          margin-top: 19px;

          &:before {
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            background-color: white;
            border: 3px solid #14253e;
            border-radius: 50%;
            left: 15px;
            top: -5px;
          }

          &:after {
            position: absolute;
            content: "";
            width: 3px;
            height: 100%;
            background-color: #14253e;
            left: 24px;
            top: 13px;
          }
        }
      }
    }
  }
}
</style>